em{
  font-style: normal;
  color: brown;
  text-shadow:0 0 0.5em;
}

.box{
  position: relative;
  left: 400px;
width: 400px;
height: 400px; /* Full height */
border: 3px solid rgb(247, 6, 6);

}
.h1{
  position: relative;
  left: 10px;
 
}
.header{
  background-color: rgb(240, 9, 9);
  width: 300px;
  position: relative;
  right: 10px;
  left: 45px;
  height: 10em;
margin-right:0, 50px;

}
.p1{
  position: relative;
  left: 130px;
}
.p2{
  position: relative;
  left:80px;
  top: 10px;
  font-size: large;
  color: red;
}
.btn{
  position: relative;
  left: 80px;
  top: 10px;
  border-radius: 5em;

}

.box{
  background-image:url("Animated\ Shape.svg") ;
}
.warn,
.warn::before,
.warn::after
{
  position: relative;
  padding: 0;
  margin: 0;
}

.warn {
  font-size: 30px;
  color: transparent;
  margin-left: 110px;
  margin-top: 20px;
}

.warn.warning {
  display: inline-block;

  top: 0.225em;

  width: 1.15em;
  height: 1.15em;

  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: 0.625em;
}

.warn.warning::before{
  content: "";
  display: block;
  top: -0.08em;
  left: 0.0em;
  position: absolute;
  border: transparent 0.6em solid;
  border-bottom-color: #fd3;
  border-bottom-width: 1em;
  border-top-width: 0;
  box-shadow: #999 0 1px 1px;
}

.warn.warning::after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0;
  width: 100%;
  padding: 0 1px;
  text-align: center;
  font-family: "Garamond";
  content: "!";
  font-size: 0.65em;
  font-weight: bold;
  color: #333;
}